:root{
    MyGreen: #34571a;
    MyBeige: rgb(236, 233, 225);
    MyBlack: #000;
    MyLightGreen:#8ebf90;
    my11: rgb(236, 233, 225);
    mobile: linen;

}
/* פונט לכל האתר */
@font-face {
  font-family: Heebo-Regular;
  src: url(../summerWEBanita/heebo/Heebo-Regular.ttf);
}
*{
  font-family: Heebo-Regular;
}

body {
    background-color: rgb(236, 233, 225);
    font-family: Heebo-Regular;
    display: grid;
    /* width: 100%; */
   }

.GridContainer {
  display: grid;
  background-color: rgb(236, 233, 225);
  grid-template-areas:
   'Glogo Glogo Glogo Glogo'
  'Gheader Gheader Gheader Gright' 
  'Gleft Gmidal1 Gmidal2 Gright'
  ;
}

.logo {
  /* position: absolute; */
  grid-area: Glogo;
  width: 30%;
  font-size: 18px;
  color: #34571a;
  font-weight: bold ;
}

/* bone in logo */
#bone{
  width: 8%;
}

/*  logo moves */
.move {
  position: relative;
  -webkit-animation: slide 2s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4 alternate;
          animation: slide 1.5s cubic-bezier(0.445, 0.05, 0.55, 0.95) 4 alternate;
}

@-webkit-keyframes slide {
  100% {
    transform: translate3d(150px, 0, 0);
  }
}

@property --k {
  syntax: "<number>";
  initial-value: 0;
  inherits: false;
}

.headrs{
  grid-area: Gheader;
  color: #34571a;
  margin: 0 0 0 30% ;
  text-align: center;
  text-shadow:  2px 2px 4px rgba(248, 207, 130, 0.694);
  font-weight: bold;
}

.headrs h1{
  font-size: 400%;
}

.weight{
  display: inline;
}
/*  סינון טבלה*/
.filter{
  grid-area: Gleft;  
}
/* סנן עמוד חיפוש */
#myInput{
  width: 20%;
  margin-top: 3%;
}

.form{
  /* width: 100%; */
  max-width: 360px;
  padding: 10px;
  text-align: left;
  margin-left: 30%;
}

.reg{
  display: flex;
  float:inline-start;
}

.form input[type=text], .form select,.form input[type=radio] {
  margin-top: 20px;
}
.form input{
  margin: 10px 10px 10px 10px ;
  padding: 5px 5px 5px 5px;
  border-radius: 15px;
  border-color:  rgb(236, 233, 225);
}
.form .Fsecond input{
  margin: 10px 45px 10px 10px ;
}
.Ffirst{
 grid-area: Gmidal1; 
}

.Fsecond{
  grid-area: Gmidal2;
  margin-left: 80px;
}
/* עיצוב כפתורים */
.select, option,button{
  background-color: #ccb29b;
  color:  #34571a;
}
.button {
  border: none;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 12px;
  font-weight: bold;
}

.button:focus {
  outline-color: transparent;
  outline-style:solid;
  box-shadow: 0 0 0 4px #8ebf90;
  transition: 0.7s;
}
.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

/* Image animation*/
.image{
  grid-area: Gright;
  float: down;
  margin-top: 20%;
  --k: 0;
  --j: calc(1 - var(--k));
  --list: transparent calc(50% - 4vmin), red 0 calc(50% + 4vmin), transparent 0;
  place-self: center;
  -o-object-fit: cover;
     object-fit: cover;
  /* width: 90vmin; */
  /* height: 90vmin; */
  filter: grayScale(var(--j));
  --mask: radial-gradient(closest-side, red calc(50% - 1px), transparent 50%),
  	radial-gradient(
  		closest-side,
  		transparent calc(50% - 5% + var(--k) * 2 *5% - 1px),
  		red calc(50% - 5% + var(--k) * 2 *5%)
  			calc(var(--k) * 70% + var(--j) *50% - 1px),
  		transparent calc(var(--k) * 100% + var(--j) *50%)
  	),
  	linear-gradient(var(--list)), linear-gradient(90deg, var(--list)),
  	linear-gradient(45deg, var(--list)), linear-gradient(-45deg, var(--list));
  -webkit-mask: var(--mask);
          mask: var(--mask);
  -webkit-mask-composite: source-over, source-in, source-over, source-over, xor;
          mask-composite: add, intersect, add, add;
  transition: --k 0.2s ease-out;
  width: 80%;
  height: 80%;
  /* width: 100%;
  height: 100%; */
  /* width: 500px;
  height:500; */

}

img:hover {
  --k: 1;
}
/* טבלה בעמוד חיפוש */
.table-row {
  cursor: pointer;
}
#table-wrapper {
  position:relative;
}
#table-scroll {
  height:220px;
  overflow:auto;  
  margin-top:20px;
  width: 90%;
}
#table-wrapper table {
  width:100%;
}
/*   First row in a lookup table */
thead{
  color: #34571a;
  font-weight: bold;
  font-size: larger;
  position: sticky;
  top: 0;
  background: rgb(236, 233, 225);
}
/* Rating by stars */
.rating {
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
}
.rating > input{
  display:none;
}
.rating > label {
position: relative;
width: 1.1em;
font-size: 15vw;
color: #FFD700;
cursor: pointer;
}
.rating > label::before{
content: "\2605";
position: absolute;
opacity: 0;
}
.rating > label:hover:before,
.rating > label:hover ~ label:before {
opacity: 1 !important;
}
.rating > input:checked ~ label:before{
opacity:1;
}
.rating:hover > input:checked ~ label:before{ 
opacity: 0.4;
  }

  /* Creating a red frame for cells that are mandatory    */
  input:required:focus {
  border: 1px solid red;
  outline: none;
}
.Back{
  grid-area: Glogo;
  margin-left: 90%;
  font-weight: bold;
}
/* Link design */
a{
  font-weight: bold;
}
/* visited link */
a:visited {
  color: rgb(0, 77, 0);
}
/* mouse over link */
a:hover {
  color: #b79f89;
}
a.link {
  color: rgb(113, 128, 97);
}
/* //////////////////////////////////////////////////////////////////////////////////////////////////////////// */

.topnav {
  background-color: #34571a;
  overflow: hidden;
  /* position: sticky;
  top: 0; */
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: rgb(236, 233, 225);;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}
/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(236, 233, 225);
  color: #34571a;
}

/* Add an active class to highlight the current page */
.topnav a.active {
  background-color: #148d60dc;
  color: rgb(236, 233, 225);
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
  display: none;
}
/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Add some top padding to the page content to prevent sudden quick movement (as the navigation bar gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 60px;
}


@media screen and (max-width: 800px) {
  
  body{
    /* Width: 100%; */
    font-size: smaller;
    /* float: none;
    width: 100%; */
  }
  .GridContainer {
      font-size: smaller;
      display: grid;
      grid-template-areas: 
     

      'Glogo''Glogo'
      'Gheader''Gheader'
      'Gmidal1''Gleft'
      'Gmidal2''Gright' ;

      /*; */
    }
  .image{
    display: none;
    visibility: hidden;
  }
  .logo,form input,::placeholder{
    font-size: smaller;
  }
  .button{
    font-size: 11px;
    margin-left: 30%
  }
  #table-scroll {
    height:150px;
  }
  thead,body,.GridContainer{
    background-color: linen;
  }

  .Fsecond{
    grid-area: Gmidal1; 
  }
  /* .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  } */
  /* .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: aqua;
  } */
  /* .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } */
};
/* @media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  } */
/* } */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */

/* @media screen and (max-width: 800px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
} */

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */

/* @media screen and (max-width: 800px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
    color: aqua;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
} */
