<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogSis</title>
    <link rel="stylesheet" href="../static/recap.css">
    <link rel="icon" href="./pic/bone-removebg-preview.png" type="image/x-icon">
    <script defer src="../static/js.js"></script>
</head>

<body>
    <div class="GridContainer">
        <div class="topnav" id="myTopnav">
            <a href="/" >Sign in</a>
            <a href="#register" class="active">Register</a>
        </div>
        <div class="logo move">
            <img id="bone" src="../pic/bone-removebg-preview.png" >
            <header>DogSis</header> 
        </div>
        <div class="headrs">
            <h1>DogSis</h1> 
            <h3>Join our community and find the perfect doggister for your dog</h3>
        </div>
        <img class= "image" src="../pic/dogwalker.jpg"  >
        <div class ="form">
        <form class="fields" action="/register/submit" method="post" >
            <div class="Ffirst">
                <input type="email"placeholder="&#9993 Email*" id="email" name="email" required/>
                <input type="password" placeholder="&#128274 Password*" name="pswd1" id="pswd1" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" onkeyup='PswValid();' required/>

                <!-- <input type="email"placeholder="&#9993 Email*" id="email" name="email" pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"  required/> -->
                <!-- <input type="password" placeholder="&#128274 Password*" name="pswd1" id="pswd1" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" onkeyup='PswValid();' required/> -->
                <input type="password" placeholder="&#128274 Confirm Password*" name="pswd2" id="pswd2" onkeyup='PswValid();' required/>
                <span id='messagePsw'></span>
                <input type="text" placeholder="Full name*" id="fname" name="fname" pattern="^(\w\w+)\s(\w+)$" title="must contain letters only" required/>
                <input type="tel"placeholder="&#9743 Phone number" id="Phone" name="Phone" pattern="[0-9]{3}-[0-9]{4}-[0-9]{3}" title="Format: xxx-xxxx-xxx"/>
            </div>
            <div class="Fsecond">
                <input type="text" placeholder="&#128021 Dog Name" id="DogName" name="DogName"/>
                <input type="text" placeholder="&#128041 Dog Breed" id="DogBreed" name="DogBreed"  title="Must contain letters only"/>
                <label for="DogGender">&#9893 Dog Gender:</label>
                <select name="DogGender" id="DogGender">
                    <option value="0">Gender</option>
                    <option value="Male Dog">male</option>
                    <option value="Female Dog">Female</option>
                </select><br>
                <label for="DogAge">&#128116;&#127996;&#128118;&#127996;Dog Age:</label>
                <select name="DogAge" id="DogAge">
                    <option value="0">Age</option>
                    <option value="Puppy">0-2</option>
                    <option value="Young">2-7</option>
                    <option value="Adult">7-10</option>
                    <option value="Old">10+</option>
                </select><br>
                <label  for="DogWeight">&#128054Dog Weight:</label>
                <select  name="DogWeight" id="DogWeight">
                    <option value="0">Weight</option>
                    <option value="ExtraSmall">0.5-3 KG</option>
                    <option value="Small">3-10 KG</option>
                    <option value="Madium">10-20 KG</option>
                    <option value="Madium+">20-30 KG</option>
                    <option value="Big">30-40 KG</option>
                    <option value="Huge">40+ KG</option>
                </select> <br><br>
                <button class="button" type="submit"  >Submit</button>
            </div>
        </form>  
        <p>  have an account? <a href="/">Sign in </a></p>
        </div>
         <footer class="footer">
            <p id="track">*Please enable location tracking when using the application</p>
            <p>Follow us</p>
            <img class="footer_icon" src="../pic/facebool-removebg-preview.png" alt="">
            <img class="footer_icon" src="../pic/instgram-removebg-preview.png" alt="">
            <img class="footer_icon" src="../pic/Twiter-removebg-preview.png" alt="">
        </footer>
    </div>
</body>
</html>