<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DogSis</title>
    <link rel="stylesheet" href="../public/static/recap.css">
    <link rel="icon" href="../pic/bone-removebg-preview.png" type="image/x-icon">
    <script defer src="../public/static/js.js"></script>
</head>

<body>
    <div class="GridContainer">
        <div class="topnav" id="myTopnav">
            <a href="#signin" class="active">Sign in</a>
            <a href="register">Register</a>
        </div>
        <div class="logo move ">
            <img id="bone" src="../pic/bone-removebg-preview.png" >
            <header>DogSis</header> 
        </div>
        <div class="headrs">
            <h1>DogSis</h1>
            <h3>Join our community and find the perfect doggister for your dog</h3>
        </div>
        <img class= "image" src="../pic/dogwalker.jpg" >
        
        <div class="form" > 
            <form class="fields" method="post" name="fields" action="/login">
                <div class="Ffirst"> 
                    <input type="email" placeholder="&#9993 Email " id="email" name="email" required>
                    <input type="password" placeholder="&#128274 Password" id="password" name="password"  required>
                    <button class="button" type="submit" onclick="getLocation()" >Login</button><br>
                </div>    
            </form>    
            <label>
                <input type="checkbox" checked="checked" name="rememberMe" id="rememberMe" > Remember me
            </label>
            <p> Don't have an account? <a href="register">Register here</a></p>
            
        </div>
        <footer class="footer">
            <p id="track">*Please enable location tracking when using the application</p>
            <p>Follow us</p>
            <img class="footer_icon" src="../pic/facebool-removebg-preview.png" alt="">
            <img class="footer_icon" src="../pic/instgram-removebg-preview.png" alt="">
            <img class="footer_icon" src="../pic/Twiter-removebg-preview.png" alt="">
        </footer>    
    </div>
</body>
</html>