doctype html
head
  meta(charset='UTF-8')
  meta(http-equiv='X-UA-Compatible' content='IE=edge')
  meta(name='viewport' content='width=device-width, initial-scale=1.0')
  title DogSis
  link(rel='stylesheet' href='recap.css')
  link(rel='icon' href='./pic/bone-removebg-preview.png' type='image/x-icon')
  script(defer='' src='js.js')
  body 
    .GridContainer
        #myTopnav.topnav
            a.active(href='') Sign in
            a(href='/register') Register
        .logo.move
            img#bone(src='../pic/bone-removebg-preview.png')
            header DogSis
        .headrs
            h1 DogSis
            h3 Join our community and find the perfect doggister for your dog
        img.image(src='./pic/dogwalker.jpg')
        .form
            form.fields(action='/Search' method='post')
                .Ffirst
                    input#email(type='email' placeholder='Email ' name='email'  required='')
                    input#password(type='password' placeholder='Password' name='password' required='')
                    button.button(type='submit' ) Login
                    br

            p Dont have an account? 
                a(href='register')  Register here
        footer.footer
            p Follow us
            img.footer_icon(src='../pic/facebool-removebg-preview.png' alt='')
            img.footer_icon(src='../pic/instgram-removebg-preview.png' alt='')
            img.footer_icon(src='../pic/Twiter-removebg-preview.png' alt='')
